.show{
    display: block;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    position: fixed;
    top: 0;
    z-index: 150;
    background-color: var(--bg-primary);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.Header__User{
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    text-align: center;
    cursor: pointer;
    border-radius: 10em;
    border: 2px solid #fff;
    transition: 0.15s ease-in;
}
.Header__User:hover{
    border: 2px solid var(--blueLight-destak);
}

.Header__User svg{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    fill: var(--bege-light);
    transition: 0.1s ease-in;
}

.Header__User svg:hover{
    fill: var(--blueLight-destak);
}

.Header__ModalPerfil{
    font-family: var(--font-primary);
    background-color: var( --bg-primary);
    border: 1px solid var(--font-light);
    border-radius: 0.4em;
    position: absolute;
    top: 2.5em;
    right: 6em;
    z-index: 152;
}



.Header__ModalPerfil-top{
    background: rgb(30,95,180);
    background: linear-gradient(180deg, rgba(30,95,180,1) 27%, rgba(37,115,217,1) 86%);
    border-radius: 0.2em 0.2em 0 0;
    margin: 0.2em;
    height: 3em;
    width: 10em;
}

.Header__ModalPerfil-data{
    margin: 0.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 0.5em;
    bottom: 2em;
    font-family: var(--font-primary);
    border-bottom: 1px solid var(--bege-light);
}

.Header__ModalPerfil-data > p:first-of-type{
    color: var(--font-color);
    margin-top: 0.5em;
}

.Header__ModalPerfil-data > p:last-of-type{
    color: var(--font-midle);
    font-size: 0.7em;
    text-align: center;
}

.Header__ModalPerfil-dataImg > img {
    width: 4em;
    height: 4em;
    border-radius: 10em;
    border: 2px solid var(--bg-primary);
}
.Header__ModalPerfil-dataImg > svg {
    width: 4em;
    height: 4em;
    border-radius: 10em;
    border: 2px solid var(--bg-primary);
    background-color: var(--bege-light);
    fill: var(--bg-primary);
}

.Header__ModalPerfil-menu{
    position: relative;
    bottom: 1.3em;    
}

.Header__User-NavLink{
    color: #2573d9ba;
    font-size: 0.8em;
    text-decoration: none;
    transition: 0.1s ease-in;
    cursor: pointer ;
}

.Header__User-NavLink:hover {
    color: var(--blueLight-destak);
    font-weight: bold;
}

.Header__ModalPerfil-menu > li:last-of-type{
    position: relative;
    top: 0.6em;
}