.menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: aqua;
    width: 100;
}
.menuClick {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: aqua;
    width: 12em;
}

.link{
    color: red;
    text-decoration: none;
    padding-left: 20px;
}

.link:first-of-type{
    padding-top: 10px;
}