.Companies__Top{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.Companies__Table{
    background-color: var(--bg-primary);
    border-radius: 0.4em;
    padding: 1em;
    box-shadow: var(--b-shadow);
    margin-top: 1em;
    border-collapse: collapse;
    font-size: 10pt;
    font-family: var(--font-primary);
    color: #404040;
    min-width: 50em;
}


.Companies__Table th{
    text-align: start;
    padding: 0.65em 1.5em 0.65em 1.5em;
    border-bottom: 1px solid rgba(60, 64, 67, 0.1);
    background-color: rgba(71, 71, 71, 0.086);
    border-radius: 0.4em 0.4em 0 0;
    font-size: 9pt;
    text-transform: uppercase;
}

.Companies__Table td{
    border-bottom: 1px solid rgba(60, 64, 67, 0.15);
    padding: 0.55em 1.5em 0.55em 1.5em;
}

.Companies__Modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.4);
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Companies__Modal-container{
    background-color: var(--bg-primary);
    width: 30em;
    height: 20em;
    border-radius: 0.4em;
    box-shadow: var(--b-shadow);
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    transform: scale(.5);
    animation: scaleUp 0.3s forwards;
}

@keyframes scaleUp {
    to{
        opacity: initial;
        transform: initial;
    }
}

.Companies__Modal-container h2{
    padding-bottom: 1em;
}

.Companies__Modal-container input{
    margin-bottom: 0.6em;
    border-radius: 0.2em;
    padding: 0.4em;
    font-family: var(--font-primary);
    font-size: 11pt;
    border: 0.5px solid var(--grey-medium);
    
    
}
textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.hidden{
    display: none;
}

.Companies__Modal-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 5em;
}

.Companies__Modal-topX{
    position: relative;
    left: 0.5em;
    bottom: 0.5em;
}

.Companies__Modal-content{
    display: flex;
    height: 80%;
    align-items:flex-start;
    justify-content: space-around;

}

.Companies__Modal-iconFactory{
    width: 100px;
    fill: #404040;
    margin-right: 3em;
}

.Companies__Modal-inputs{
    width: 50%;
    display: flex;
    flex-direction: column;

}

.Companies__Modal-btns{
    display: flex;
    justify-content: flex-end;
    margin-right: 2em;
}

@media (max-width: 800px){

    .Companies__Table{
        
        min-width: auto;
    }
}
