.UpdatePassword{
    display: flex;
    flex-direction: column;
}

.UpdatePassword__GreenMessage{
    text-align: center;
    color: #044D29;
    background-color: #b0e9a7;
    padding: 0.4em 1em;
    border-radius: 0.3em;
    font-size: 10pt;
    margin-bottom: 0.5em;
    margin-top: 1em;
    font-family: var(--font-primary);
    width: 16.5em;
}

.UpdatePassword__RedMessage{
    text-align: center;
    color: #D94E41;
    background-color: #eed1cc;
    padding: 0.4em 1em;
    border-radius: 0.3em;
    font-size: 10pt;
    margin-bottom: 0.5em;
    margin-top: 1em;
    font-family: var(--font-primary);
    width: 16.5em;
    }

.UpdatePassword__Inputs{
    width: 15em;
    
}

.UpdatePassword__Inputs:first-of-type{
    margin-top: 0.5em;
}