.drop{
    position: relative;
}

.dropMenu{
    position: absolute;
    width: 150px;
    border: 1px solid #CCC;
}

.dropMenu a{
    display: block;
    padding: 0.5rem 1rem;
}
.hidden{
    display: none;
}