.Perfil__Top{
    display: flex;
    background: rgb(30,95,180);
    background: linear-gradient(180deg, rgba(30,95,180,1) 27%, rgba(37,115,217,1) 86%);
    border-radius: 0.4em 0.4em 0 0;
    padding: 2em ;
    box-shadow: var(--b-shadow);
}

.Perfil__Top-user{
    display: flex;
    padding: 0 2em 0 2em;
    background-color: var(--bg-primary);
    box-shadow: var(--b-shadow);
    border-radius: 0 0 0.4em 0.4em;
    height: 9.5em;
}

.Perfil__Top-photo img{
    border-radius: 10em;
    width: 100px;
    height: 100px;
    border: 2px solid var(--bg-primary);
    position: relative;
    bottom: 2em;
}

.Perfil__Top-photo svg{
    fill: var(--bg-primary);
    width: 100px;
    height: 100px;
    border-radius: 10em;
    position: relative;
    bottom: 2em;
    background-color: var(--bege-light);
    border: 2px solid var(--bg-primary);
}

.Perfil__Top-name{
    margin-left: 0.7em;
    padding-top: 0.4em;
}

.Perfil__Top-name p{
    color: var( --grey-medium);
    font-family: var(--font-primary);
}

.Perfil__Top-userData{
    margin-top: 1.2em;
    margin-left: 2.5em;
}

.Perfil__Top-userDataItem{
    text-align: center;
}

.Perfil__Top-userDataItem p{
    text-transform: uppercase;
    font-size: 8pt;
    padding-top: 0.1em;
    color: var(--font-color);
    font-family: var(--font-primary);
}

.Perfil__Top-userDataItem strong{
    color: var(--font-color);
}

.Filter__Disable{
    color: var(--font-midle);
    font-family: var(--font-primary);
    padding: 0.2em 0.5em;
    border-radius: 0.2em;
    font-size: 0.8em;
    border: 1px solid var(--font-light);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
    margin-right: 0.2em;
    background-color: var(--bg-primary);
}

.Filter__Active{
    background-color: var(--blueLight-btn);
    color: var(--bg-primary);
    font-family: var(--font-primary);
    padding: 0.2em 0.5em;
    border-radius: 0.2em;
    font-size: 0.8em;
    border: 1px solid var(--blueLight-btn);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
    width: 6em;
    margin-right: 0.2em;
}

.Perfil__Menu{
    display: flex;
    position: relative;
    bottom: 2.5em;
    left: 1em;
}

.Perfil__Top-link{
    color: #2573d9ba;
    font-size: 0.8em;
    cursor: pointer;
    padding-top: 0.5em;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in;
}

.Perfil__Top-link:hover{
    color: var(--blueLight-btn);
}

.Perfil__Top-link > svg{
    position: relative;
    top: 0.06em;
    margin-right: 0.2em;
}


.Perfil__Modal-content > div{
    border-bottom: 1px solid var(--font-light);
    padding-bottom: 1.5em;
}

.Perfil__Modal-content > div:nth-of-type(2){
    margin-top: 1.5em;
}
