
table {
    background-color: var(--bg-primary);
    border-radius: 0.4em;
    padding: 1em;
    box-shadow: var(--b-shadow);
    margin-top: 1em;
    border-collapse: collapse;
    font-size: 10pt;
}

thead, th{
    border-bottom: 1px solid rgba(60, 64, 67, 0.3);
    padding: 0.25em 1em 0.25em 1em;
}

td{
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}