.DropIcon__svg{
    fill: var(--grey-medium);
    transition: 0.3s ease;
    padding: 6px;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.DropIcon__svg:hover{
    background-color: var(--bege-light);
    fill: #fff;
}