:root {
  --body-bg: #fafafa;
}

.dark-mode:root {
  --body-bg: #212529;
}

.LayoutPrincipal {
  display: flex;
  background-color: var(--bg-grey);
  border-top: 1px solid  rgba(60, 64, 67, 0.3);
  min-height: 93vh;
}

.MenuSideBar {
  width: 3rem;
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 200ms ease;
  border-radius: 10px;
  margin-left: 1em;
  margin-top: 17vh;
  box-shadow: var(--b-shadow);
  z-index: 150;
}

.MenuSideBar:hover {
  width: 12rem;
}

.MenuSideBar:hover .link-text {
  display: flex;
}

.MainContainer {
  margin-left: 5rem;
  padding: 2rem;
}

@media (max-width: 720px){
  .LayoutPrincipal{
    position:relative;
    right: 4em;
  }

  .MenuSideBar:hover .link-text{
    display: none;
  }
  .MenuSideBar:hover{
    width: auto;
  }
}