.Home{
    display: flex;
    margin-top: 1.5em;
}

.YearChart__Button-active {
    background-color: var(--blueLight-btn);
    color: var(--bg-primary);
    font-family: var(--font-primary);
    padding: 0.2em 0.5em;
    border-radius: 0.2em;
    font-size: 0.8em;
    border: 1px solid var(--blueLight-btn);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
    margin-right: 0.2em;
}

.YearChart__Button-disable{
    color: var(--font-midle);
    font-family: var(--font-primary);
    padding: 0.2em 0.5em;
    border-radius: 0.2em;
    font-size: 0.8em;
    border: 1px solid var(--font-light);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
    margin-right: 0.2em;
    background-color: var(--bg-primary);
}